node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

vendor/
composer.lock


.DS_Store
Thumbs.db
.env
.env.local
.env.*.local
*.bak
*.swp
*.tmp
*.temp

/dist/
/build/

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.zip
*.tar.gz
*.rar
*.7z
*.sql
*.sql.gz
